.hidden {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100svh;
    padding: 24px 16px 40px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 733px;
    box-sizing: border-box;
    gap: 24px;
    position: relative;
    z-index: 1;
}

h2 {
    font-size: 80px;
    margin: 0;
}

#login-form {
    margin-bottom: 0;
}

#login-form input[type=text] {
    width: 250px;
    height: 33px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

#login-form input[type=submit] {
    width: 80px;
    height: 32px;
    border-radius: 25px;
    margin-top: auto;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
	background-color: #4B70E2;
	color: white;
	border: none;
    outline: none;
}

#todo-form input[type=text] {
    width: 332px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

ul {
    list-style:none;
    line-height: 200%;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
  }

#weather {
    display: inline-block;
    position: fixed;
    top: 24px;
    left: 24px;
    max-width: calc(100vw - 48px);
    overflow-wrap: anywhere;
    text-align: left;
    z-index: 2;
}

#todo-list span {
    padding: 0px 10px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (max-width: 768px) {
    h2 {
        font-size: 56px;
    }

    #todo-form input[type=text] {
        width: 100%;
        max-width: 332px;
    }
}
